<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.wolox.lucasdelatorre.training" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Board"
            android:label=""
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Login" />
        </activity>

        <activity
            android:name=".activities.Signup"
            android:label="@string/signup_label"
            android:theme="@style/SignupActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Login" />
        </activity>

        <activity
            android:name=".activities.SplashScreen"
            android:label=""
            android:theme="@style/SignupActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Board" />
        </activity>

        <activity
            android:name=".activities.NewsDetail"
            android:label=""
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Board" />
        </activity>

        <activity
            android:name=".activities.CreateNews"
            android:label=""
            android:theme="@style/SignupActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Board" />
        </activity>

    </application>

</manifest>
